    *,
     ::before,
     ::after {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        text-decoration: none;
    }
    
     :root {
        --couleur-sombre: #1E1F23;
        --couleur-claire-hover: #8a8585;
        --couleur-blanc: #fff;
        --couleur-noir: #000;
        --couleur-bleue: #0070D1;
        --couleur-blue-hover: #0157a2;
        --couleur-btn: #d53b00;
        --couleur-btn-hover: #7d2503;
        --couleur-background: #090A0A;
    }
    
    body {
        font-family: Arial, Helvetica, sans-serif;
    }
    
    .container {
        height: 100vh;
        background: url(./img/connextion-fond-decran.jpg) center center / cover;
        padding-top: 5%;
        display: flex;
        /* justify-content: center; */
        flex-direction: column;
        align-items: center;
    }
    
    .sony-logo img {
        height: 70px;
        display: inline-block;
        padding-right: 50px;
    }
    
    .sony-logo {
        background: black;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 400px;
        position: relative;
    }
    
    .logo-play-2 {
        height: 96px
    }
    
    .bouton-croix .fa-times {
        color: white;
        position: absolute;
        top: 38%;
        right: 7%;
        font-size: 20px;
        color: grey;
        cursor: pointer;
    }
    
    .bouton-croix .fa-times:hover {
        color: #f1f1f1;
    }
    
    form {
        background: white;
        width: 400px;
        padding: 20px 50px 10px 50px;
    }
    
    form p {
        font-size: 14px;
    }
    
    .form-groupe .savoir {
        color: var(--couleur-bleue);
        cursor: pointer;
    }
    
    .form-groupe input {
        padding: 5px;
        width: 310px;
        letter-spacing: 1px;
        margin-bottom: 5px;
        outline: none;
    }
    
    .form-groupe .btn-connexion {
        width: 310px;
        padding: 10px;
        background: var(--couleur-bleue);
        color: var(--couleur-blanc);
        border: none;
        font-weight: bold;
        cursor: pointer;
        margin-bottom: 20px;
    }
    
    .btn-connexion:hover {
        background: var(--couleur-blue-hover);
    }
    
    .form-groupe .btn-compte {
        margin-top: 20px;
        border: 1px solid #d9d6d6;
        text-align: center;
        padding: 10px;
        font-size: 13px;
        cursor: pointer;
    }
    
    .form-groupe .btn-compte:hover {
        background: #f1f1f1;
    }
    
    .form-groupe .plan-site {
        margin-top: 100px;
        text-align: center;
        color: var(--couleur-claire-hover);
    }
    
    .form-groupe .plan-site:hover {
        color: var(--couleur-bleue);
        cursor: pointer;
    }
    
    .text-success {
        color: green;
    }
    
    .text-danger {
        color: red;
    }