    @media screen and (max-width:305px) {
        .btn-panier button {
            max-width: 30%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis
        }
    }
    
    @media screen and (max-width:370px) {
        .btn-panier button {
            max-width: 45%;
        }
    }
    
    @media screen and (max-width:448px) {
        .Playstation-store .logo-play {
            padding-top: 20px;
        }
        .btn-panier button {
            max-width: 60%;
        }
        .infos-jeux {
            height: 800px;
        }
    }
    
    @media screen and (max-width:560px) {
        .personna .persona5 {
            width: 85%;
            height: auto;
        }
        .btn-panier button {
            max-width: 80%;
        }
    }
    
    @media screen and (max-width:699px) {
        nav {
            padding-top: 4%;
            margin: 0 2%;
        }
        .barre-de-recherche .btn {
            padding: 0;
        }
        .btn-toggle-container {
            display: block;
            position: absolute;
            padding-bottom: 20px;
            box-shadow: 2px 8px 9px -10px #000000;
            width: 100%;
        }
        .liste-nav {
            position: relative;
            top: 70px;
            display: none;
        }
        .item-nav {
            display: block;
        }
        header {
            display: none;
        }
        .barre-de-recherche {
            position: absolute;
            right: 10px;
        }
        .barre-de-recherche .search {
            display: none;
        }
        .liste-nav.active-menu {
            display: block;
        }
    }
    
    @media screen and (max-width:704px) {
        .Playstation-store {
            padding-top: 10%;
        }
        .personna-carte img {
            width: 80%;
        }
    }
    
    @media screen and (max-width:900px) {
        .pancarte {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .infos-jeux {
            height: 470px;
        }
        .infos-jeux .texte-rectangle {
            padding: 10px 10px;
        }
        .infos-jeux .texte-rectangle p {
            padding-bottom: 0;
            font-size: 13px;
            /* text-align: justify; */
        }
    }
    
    @media screen and (max-width:1030px) {
        .Playstation-store .logo-play {
            padding-bottom: 40px;
        }
        .personna .persona5 {
            margin-bottom: 20px;
        }
        .pegi16 {
            bottom: -33%;
            left: 10%;
        }
        .bloc2 {
            padding: 3% 0;
        }
    }
    
    @media screen and (max-width:1043px) {
        .personna .persona5 {
            width: 440px;
        }
        .personna-carte .ultimate {
            width: 50%;
            height: 530px;
            background-color: var(--couleur-noir);
            display: flex;
            justify-content: center;
            flex-direction: column;
        }
        .btn-panier-2 button {
            width: 50%;
        }
    }
    
    @media screen and (max-width:1300px) {
        .pegi16 {
            position: absolute;
            right: 15%;
        }
    }