    *,
     ::before,
     ::after {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        text-decoration: none;
    }
    
     :root {
        --couleur-sombre: #1E1F23;
        --couleur-claire-hover: #8a8585;
        --couleur-blanc: #fff;
        --couleur-noir: #000;
        --couleur-bleue: #0070D1;
        --couleur-btn: #d53b00;
        --couleur-btn-hover: #7d2503;
        --couleur-background: #090A0A;
    }
    
    body {
        font-family: Arial, Helvetica, sans-serif;
    }
    
    header {
        background-color: var(--couleur-noir);
        width: 100%;
        height: 50px;
    }
    
    nav {
        display: flex;
        justify-content: space-between;
    }
    
    .logo {
        width: 80px;
        height: auto;
        position: absolute;
        right: 10px;
    }
    
    .liste-nav {
        width: 100%;
        height: 100%;
    }
    
    .item-nav {
        display: inline-block;
        line-height: 45px;
        margin: 0px 11px;
        position: relative;
    }
    
    .item-nav .fa-chevron-down {
        color: #757575;
        bottom: 11px;
        position: absolute;
        right: -15px;
        font-size: 10px;
    }
    
    .item-nav a {
        text-decoration: none;
        color: #757575;
        font-size: 11px;
        font-weight: bold;
    }
    
    .item-nav .fa-playstation {
        color: var(--couleur-bleue);
        font-size: 22px;
    }
    
    .item-nav a:hover {
        color: var(--couleur-bleue);
    }
    
    .btn-toggle-container {
        display: none;
    }
    
    .btn-toggle-container img {
        width: 20px;
    }
    /* barre de recherche */
    
    .barre-de-recherche {
        display: flex;
        align-items: center;
        margin-right: 2%;
    }
    
    .barre-de-recherche .btn {
        padding-right: 20px;
    }
    
    .btn a {
        text-decoration: none;
        background-color: #363636;
        color: #fff;
        border-radius: 20px;
        padding: 3px 8px;
        font-size: 14px;
        text-align: center;
        font-weight: bold;
    }
    
    .barre-de-recherche .fa-search {
        color: var(--couleur-sombre);
    }
    
    @media screen and (max-width:699px) {
        nav {
            padding-top: 4%;
            margin: 0 2%;
        }
        .barre-de-recherche .btn {
            padding: 0;
        }
        .btn-toggle-container {
            display: block;
            position: absolute;
            padding-bottom: 20px;
            box-shadow: 2px 8px 9px -10px #000000;
            width: 100%;
        }
        .liste-nav {
            position: relative;
            top: 70px;
            display: none;
        }
        .item-nav {
            display: block;
        }
        header {
            display: none;
        }
        .barre-de-recherche {
            position: absolute;
            right: 10px;
        }
        .barre-de-recherche .search {
            display: none;
        }
        .liste-nav.active-menu {
            display: block;
        }
    }
    /* ************************PLAYSTATION STORE*************************** */
    
    @media screen and (max-width:704px) {
        .Playstation-store {
            padding-top: 10%;
        }
    }
    
    .Playstation-store {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin: 1.5% 1%;
    }
    
    .Playstation-store .logo-play {
        margin-right: 170px;
    }
    
    .logo-play .fa-gamepad {
        color: var(--couleur-bleue);
        font-size: 20px;
    }
    
    .logo-play .ps {
        font-weight: bold;
        cursor: pointer;
    }
    
    .logo-play .tm {
        font-size: 3px;
        font-weight: bold;
    }
    
    .sortie a {
        text-decoration: none;
        margin-right: 20px;
        color: var(--couleur-noir);
        font-weight: bold;
        /* flex-wrap: nowrap;  */
        font-size: 14px;
    }
    
    @media screen and (max-width:1030px) {
        .Playstation-store .logo-play {
            padding-bottom: 40px;
        }
    }
    /* *******************************Personna*********************** */
    
    .personna {
        background: url(./img/persona5\ background.webp) center center/cover;
        height: 317px;
        width: 100%;
        position: relative;
    }
    
    .personna .persona5 {
        background: rgba(31, 32, 36, .97);
        width: 465px;
        height: 270px;
        position: absolute;
        top: 50%;
        left: 10%;
        padding: 35px 50px 20px;
    }
    
    .persona5 p {
        color: var(--couleur-blanc);
        font-size: 30px;
    }
    
    .persona5 :nth-child(2) {
        padding: 20px 0 10px;
        color: var(--couleur-blanc);
        font-size: 10px;
    }
    
    .persona5 .ps4 {
        color: var(--couleur-blanc);
        font-size: 10px;
        border: 1px solid var(--couleur-blanc);
        padding: 2px;
    }
    
    .persona5 .price {
        padding: 25px 0 20px;
        color: var(--couleur-blanc);
        font-size: 25px;
    }
    
    .btn-panier {
        display: inline-block;
    }
    
    .btn-panier button {
        background-color: var(--couleur-btn);
        border: none;
        height: 34px;
        width: 335px;
        font-size: 15px;
        color: var(--couleur-blanc);
        border-radius: 9999px;
    }
    
    @media screen and (max-width:560px) {
        .personna .persona5 {
            width: 85%;
            height: auto;
        }
        .btn-panier button {
            max-width: 80%;
        }
    }
    
    @media screen and (max-width:448px) {
        .Playstation-store .logo-play {
            padding-top: 20px;
        }
        .btn-panier button {
            max-width: 60%;
        }
    }
    
    @media screen and (max-width:370px) {
        .btn-panier button {
            max-width: 45%;
        }
    }
    
    @media screen and (max-width:305px) {
        .btn-panier button {
            max-width: 30%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis
        }
    }
    
    .btn-panier button:hover {
        background-color: var(--couleur-btn-hover);
        cursor: pointer;
    }
    
    .coeur .fa-heart-o {
        font-size: 15px;
        margin-left: 5px;
        background-color: var(--couleur-sombre);
        border-radius: 9999px;
        padding: 10px;
        position: absolute;
    }
    
    .coeur .fa-heart-o:hover {
        background-color: var(--couleur-claire-hover);
        cursor: pointer;
    }
    /* main */
    
    main {
        height: 40vh;
        background-color: var(--couleur-background);
    }
    
    .pegi16 {
        position: absolute;
        right: 30%;
        padding-top: 30px;
    }
    
    .pegi16 .sixteens {
        width: 40px;
        height: 58px;
        margin-right: 10px;
    }
    
    .pegi16 img {
        padding-bottom: 10px;
    }
    
    .prevention {
        border-top: 15px;
        color: var(--couleur-blanc);
        border-top: 1px solid var(--couleur-sombre);
    }
    
    .prevention p {
        padding-top: 10px;
        font-size: 13px;
    }
    
    .bloc2 {
        background-color: var(--couleur-background);
        height: 20vh;
    }
    
    .bloc2 {
        color: var(--couleur-blanc);
        display: flex;
        justify-content: space-evenly;
    }
    
    .bloc2 a {
        color: var(--couleur-blanc);
    }
    
    .bloc2 .joueur1 {
        display: flex;
        flex-direction: column;
    }
    
    .bloc2 .joueur2 {
        display: flex;
        flex-direction: column;
    }
    
    .bloc2 i {
        margin-right: 5px;
    }
    
    .joueur1 .link-premeier {
        margin-bottom: 10px;
    }
    
    .joueur2 .link-one {
        margin-bottom: 10px;
    }
    
    @media screen and (max-width:1300px) {
        .pegi16 {
            position: absolute;
            right: 15%;
        }
    }
    /* *******************************EDITIONS*********************************** */
    
    .edition {
        background-color: var(--couleur-background);
        padding: 0 40px;
    }
    
    .edition h1 {
        color: var(--couleur-blanc);
        background-color: var(--couleur-background);
        text-align: center;
        font-weight: 400;
        font-size: 30px;
        padding-bottom: 35px;
    }
    
    .edition .personna-carte {
        display: flex;
        gap: 10px;
        /* justify-content: center; */
        align-items: center;
        /* width: 1192px; */
    }
    
    .personna-carte .ultimate {
        width: 592px;
        height: 530px;
        background-color: var(--couleur-noir);
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    
    .personna-carte img {
        width: 335px;
        height: 333px;
        margin: 0 auto
    }
    
    .ultimate .texte {
        background: var(--couleur-sombre);
        height: 198px;
    }
    
    .texte p {
        text-align: center;
        color: var(--couleur-blanc);
        padding: 20px 0;
    }
    
    .texte span {
        text-align: center;
    }
    
    .texte .prix,
    .barrer {
        padding-top: 20px;
        color: var(--couleur-blanc);
    }
    
    .texte .prix {
        font-size: 25px;
        font-weight: 200;
    }
    
    .texte .barrer {
        color: var(--couleur-claire-hover);
        text-decoration: line-through;
    }
    /* part3 */
    
    .part3 {
        padding-top: 10%;
        background-color: var(--couleur-background);
    }
    
    .texte .economie {
        color: var(--couleur-blanc);
    }
    
    .texte a {
        color: var(--couleur-claire-hover);
        font-size: 12px;
        padding-bottom: 20px;
    }
    
    .btn-panier-2 {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .btn-panier-2 button {
        background-color: var(--couleur-btn);
        border: none;
        height: 34px;
        width: 335px;
        font-size: 15px;
        color: var(--couleur-blanc);
        border-radius: 9999px;
        margin-top: 20px;
    }